[tool.poetry]
name = "bandcrash"
version = "0.4.4"
description = "Tools for publishing albums to the web and digital stores"
authors = ["fluffy <fluffy@beesbuzz.biz>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/fluffy-critter/bandcrash"

[tool.poetry.dependencies]
python = ">=3.8,<3.12"
mutagen = "^1.45.1"
awesome-slugify = "^1.6.5"
Jinja2 = "^3.0.3"
chardet = "^4.0.0"
pyside6 = {version = "^6.5.3", optional = true}
pyffmpeg = "^2.4.2.18.1"
pillow = "^10.1.0"

[tool.poetry.group.dev.dependencies]
autopep8 = "^2.0.4"
isort = "^5.12.0"
pylint = "^3.0.1"
mypy = "^1.5.1"
types-python-slugify = "^8.0.0.3"
types-chardet = "^5.0.4.6"
pyinstaller = "^6.0.0"
delocate = "^0.10.4"

[tool.poetry.extras]
gui = [ "pyside6" ]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
bandcrash = 'bandcrash.cli:main'
bandcrash-gui = 'bandcrash.gui:main'

